@charset "utf-8";
/* Paleta de cores 
    * #253C59
    * #58788C 
    * #BC0E5D */
*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; /*ele inclui a borda no tamanho*/
}
body, html{
    background-color:#253C59;
    height: 100vh;
    width: 100vw;
}  

main{
    position: relative;
    height: 100vh;
    width: 100vw;

}

section#login{
    position: absolute;
    top: 50%;        
    left: 50%;
    transform: translate(-50%, -50%);
    /* esses 4 comandos acima fazem ficar centralizado o conteúdo */ 

    overflow: hidden; /* tudo que ficar fora da borda fica escondido*/

    background-color: white;
    width: 255px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.555);

    transition: width 1s, height 1s;
    transition-timing-function: ease;

}

section#login > div#imagem{
    display: block;
    background: #58788C url(../imagens/imglogin.jpg) no-repeat;
    background-size: cover;
    background-position: left bottom;
    height: 200px;
}

section#login > div#formulario{
    display: block;
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;

}

form > input[type=submit] { /*configurar o botão ENVIAR */
    
    display: block;
    font-size: 1em;
    width: 100%;
    height: 30px;
    background-color: rgba(15, 136, 15, 0.767);
    color: white;
    border-radius: 5px;
    border: none;
    
    cursor: pointer;
}




form > input[type=submit]:hover {
    background-color: rgba(29, 156, 29, 0.986);
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 30px;
    padding: 5px;
    margin-top: 5px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgba(15, 136, 15, 0.767);
    text-decoration: none;
    color: rgba(15, 136, 15, 0.767);
    
}

form > a.botao:hover{
    background-color: rgba(96, 206, 96, 0.767);
}

form > a.botao > span {
    font-size: 0.9em;
}

